plane_spotting.json
[{"id":"7d6090b1.c2662","type":"inject","z":"af51f161.4aa758","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["52d83571.085044"]]},{"id":"6218d4c.c8d66ac","type":"debug","z":"af51f161.4aa758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":220,"wires":[]},{"id":"d32e4159.1b348","type":"worldmap","z":"af51f161.4aa758","name":"","lat":"51.35","lon":"-0.87","zoom":"10","layer":"UK OS Opendata","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":710,"y":180,"wires":[]},{"id":"20ef2427.0418bc","type":"flightradar24","z":"af51f161.4aa758","lat":"51.74","latType":"num","lon":"-0.4543","lonType":"num","name":"","x":530,"y":180,"wires":[["6218d4c.c8d66ac","d32e4159.1b348"]]},{"id":"f6d68d8e.d40f18","type":"template","z":"af51f161.4aa758","name":"Template Iframe align=middle ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body style=\"background-color:MediumSeaGreen;\">\n<iframe src={{{payload}}}  height=\"625\" width=\"1108\"   ></iframe>\n</body>\n</html>\n","output":"str","x":590,"y":420,"wires":[["562cfd35.80f6e4"]]},{"id":"562cfd35.80f6e4","type":"ui_template","z":"af51f161.4aa758","group":"864ace80.f38e08","name":"iFRAME","order":1,"width":"21","height":"12","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"15894fb6.e180e8","type":"function","z":"af51f161.4aa758","name":"Build HTTP statement","func":"msg.payload = \"http://192.168.1.138:1880/worldmap\";\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["f6d68d8e.d40f18"]]},{"id":"5d707afe.16159c","type":"inject","z":"af51f161.4aa758","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[["267a83f4.583ec4","71183976.46dbe8","20ef2427.0418bc"]]},{"id":"8b880efc.550338","type":"ui_button","z":"af51f161.4aa758","name":"Free Run","group":"4c50af24.e4a278","order":1,"width":"3","height":"1","passthru":false,"label":"Free Run","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":140,"wires":[["723b171c.5f4508"]]},{"id":"531cb2f9.a27b64","type":"ui_button","z":"af51f161.4aa758","name":"STOP","group":"4c50af24.e4a278","order":1,"width":"3","height":"1","passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["842072fe.cdf77"]]},{"id":"cc8e6be4.03086","type":"ui_button","z":"af51f161.4aa758","name":"Manual Update","group":"4c50af24.e4a278","order":1,"width":"3","height":"1","passthru":false,"label":"Manual Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":280,"wires":[["20ef2427.0418bc"]]},{"id":"71183976.46dbe8","type":"function","z":"af51f161.4aa758","name":"D","func":"flow.set(\"status\",\"stopped\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[[]]},{"id":"267a83f4.583ec4","type":"delay","z":"af51f161.4aa758","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":360,"wires":[["15894fb6.e180e8"]]},{"id":"723b171c.5f4508","type":"function","z":"af51f161.4aa758","name":"B","func":"flow.set(\"status\",\"run\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"842072fe.cdf77","type":"function","z":"af51f161.4aa758","name":"C","func":"flow.set(\"status\",\"stopped\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[[]]},{"id":"52d83571.085044","type":"function","z":"af51f161.4aa758","name":"A","func":"var status = flow.get(\"status\")||\"stopped\";\n\nif (status==\"run\") {\n   msg.payload = 1;\n   return msg;\n}","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["20ef2427.0418bc"]]},{"id":"864ace80.f38e08","type":"ui_group","z":"","name":"Display area","tab":"d091d59e.a4f2e8","order":2,"disp":true,"width":"21","collapse":false},{"id":"4c50af24.e4a278","type":"ui_group","z":"","name":"Controls","tab":"d091d59e.a4f2e8","order":1,"disp":false,"width":"3","collapse":false},{"id":"d091d59e.a4f2e8","type":"ui_tab","z":"af51f161.4aa758","name":"Flight Radar","icon":"language","order":1,"disabled":false,"hidden":false}]